[2014-08-21 15:35] vinhnglx opened #2 "Meetup ? - Vinh Nguyen Le (@vinhnguyenleasnet) - Rails Development Environment With Vagrant and Berkshelf"
Using Vagrant and Berkshelf to create Rails Development Environment. Afterwards, we'll see how easy it is to package our newly provisioned VM environment into a new "Vagrant box", which can be instantly deployed for new projects, and shared with others.

[2014-09-04 23:43] voanhduy1512 opened #3 "Meetup 2 - Võ Anh Duy (@voanhduy1512) - Upgrade your Slack"
Như anh @joneslee85 gợi ý ở [đây](https://www.facebook.com/vietnam.ruby/photos/a.558431437514222.126996.457575357599831/842135229143840/?type=1), mình sẽ đại diện SSS nói về cách mà team mình đang integrate mọi luồng thông tin về Slack, cũng như từ Slack thực hiện một số công việc _vui vẻ_ để mọi người làm việc hiệu quả hơn

[2014-09-10 02:53] #3 closed, assigned to nobody

[2014-09-10 02:59] runlevel5 opened #4 "Meetup 2 - Brad Bollenbach (@bradb) - Ratcheting Testing"
Brad Bollenbach là một trong những lập trình viên có tiếng tại Úc, anh đã từng lead nhiều dự án, tiêu biểu là dự án Launchpad cho Canonical. Anh có rất nhiều kinh nghiệm trong quản lý chất lượng của app.  Bài nói của anh sẽ chia sẻ nhanh và gọn khái niệm Ratcheting Testing hay Test theo kiểu siết tăng dần, một kỹ thuật rất hiệu quả để tăng test coverage cho ứng dụng.

URL: https://docs.google.com/

[2014-09-10 03:00] #4 closed, assigned to nobody

[2014-09-10 03:01] runlevel5 opened #5 "Meetup 2 - Tracy (@tracymu) & Nadia - The Journey to be a programmer"
Hai bạn Tracy (@tracymu) (học trò của @joneslee85) và bạn Nadia sẽ chia sẻ những khó khăn hai bạn gặp phải khi quyết định chọn nghiệp lập trình Ruby.

Presentation: https://docs.google.com/a/ruby-journal.com/presentation/d/1ttDFFlLQHv1rY69rlKU_rwd_VsDfUz2PFFiuVTdDPSk

[2014-09-10 03:01] #5 closed, assigned to nobody

[2014-09-10 03:03] runlevel5 opened #6 "Meetup 2 - Hoàng (@unrealhoang) - Hacking về Background Job"
Bạn Hoàng (@unrealhoang) sẽ trình bày live hacking cách BJ (Background Job) với các ví dụ trực quan và sinh động, mọi người có thể cùng tham gia với bạn nếu muốn.

[2014-09-10 03:03] #6 closed, assigned to unrealhoang

[2014-09-10 03:46] runlevel5 opened #7 "Meetup 1 - Trung Lê (@joneslee85) - Opening Talk"
@joneslee85 sẽ nói bài mở đầu, chào mừng các thánh viên, giới thệu BĐH và tóm tắt những gì nhóm đã làm đc trong 2 năm vừa qua

URL: http://slides.com/trung_le/ruby-vietnam-meeting-1-opening-talk

[2014-09-10 03:47] #7 closed, assigned to runlevel5

[2014-09-10 03:48] runlevel5 opened #8 "Meetup 1 - Hiếu (@hieuk09) - Refactoring Rails Model"
Hiếu (@hieuk09) trình bày cách refactor Rails model

URL: https://slides.com/hieunguyen/model-refactoring

[2014-09-10 03:48] #8 closed, assigned to hieuk09

[2014-09-10 03:49] runlevel5 opened #9 "Meetup 1 - Minh Quý (@MQuy) - All about Rails Caching"
Minh Quý (@MQuy) trình bày về khái niệm caching và các kỹ thuật caching của Rails

URL: http://slides.com/minhquy/server-caching

[2014-09-10 03:49] #9 closed, assigned to runlevel5

[2014-09-10 03:50] runlevel5 opened #10 "Meetup 1 - Đức (@lmduc) - Git Workflow"
Đức (@lmduc) trình bày các workflow với git.

URL: http://slides.com/bimat/git-workflow

[2014-09-10 03:51] #10 closed, assigned to lmduc

[2014-09-13 00:38] runlevel5 opened #11 "Meetup 4 - Huy "cải" Lê (@rauxalach) - Bới tìm lỗi với công cụ git-bisect"
Có khi nào bạn tự hỏi cái dòng code này đâu ra và từ lúc nào nó gây lỗi không? Vâng, với công cụ git-bisect bạn có thể tìm ra.

[2014-09-14 06:54] joneslee85 opened #12 "Meetup ? - <họ và tên> (@github_handler) - Giới thiệu Web programming với Rack"
Rack là nền tảng của hầu hết các web framework Ruby như Sinatra, Rails và Lotus. Nhưng thực sự bao nhiêu bạn đã hiểu cách Rack hoạt động? Bài hacking sau sẽ giới thiệu cơ bản về Rack và cách chuỗi nhiều rack app để tạo ra một chuỗi middleware.

[2014-09-14 06:57] joneslee85 opened #13 "Meetup ? - <họ và tên> (@github_handler) - OOP trong Ruby"
Ruby là một ngôn ngữ hướng đối tượng (OOP). Một số bạn nào mới nhập môn chắc hẳn cũng sẽ bỡ ngỡ với cái khái niệm OOP của Ruby. Bài hacking này sẽ giải thích cho các bạn thế nào là Class, object, inheritance và mixin

[2014-09-14 07:00] joneslee85 opened #14 "Meetup ? - <họ và tên> (@github_handler) - Hướng dẫn cách viết integration test với Rails"
Integration test hay feature test là gì? Làm cách nào để viết đc test này dễ hiểu và đúng với Rails? Bài nói sau sẽ giới thiệu các bạn khái niệm và cách viết cơ bản integration test với Rails thông qua rspec + capybara hay rspec + capybara + cucumber/turnip

[2014-09-14 07:03] joneslee85 opened #15 "Meetup ? - <họ và tên> (@github_handler) - Cơ bản về MiniTest"
MiniTest là thư viện test mặc định của Ruby 1.9 đổ về, nhưng thực sự là rất ít người biết sử dụng hết công năng của thư viện này vì có lẽ đa số dùng RSpec khi phát triển Rails app. Bài nói sau sẽ giới thiệu cho bạn cách sử dụng assertion và spec matcher của MiniTest.

[2014-09-15 07:20] joneslee85 opened #16 "Meetup ? - <họ và tên> (@github_handler) - Các mẹo làm việc hiệu quả"
Một ngày cũng chỉ có 24 giờ, và 8 tiếng đi làm. Bạn có bao giờ tự hỏi làm cách nào để tối ưu hoá xử lý công việc để bạn có nhiều thời gian trống để đọc, học và giải trí không? Bài nói sẽ chia sẻ một số kinh nghiệm và thủ thuật để lên lịch, quản lý thời gian, làm việc theo nhóm, họp hành và trau dồi thêm kiến thức theo phương pháp thực dụng và hiệu quả.

[2014-09-15 07:23] runlevel5 opened #17 "Meetup 3 - Justin Nguyễn (@dieunb) - Vét dữ liệu từ các trang web với Ruby"
WWW là một kho dữ liệu của nhân loại, nhưng không phải trang nào cũng cung cấp dữ liệu thông qua Web API. Thế nên cách thu thập dữ liệu vẫn thường là thủ công. Nhưng bạn có biết là Ruby có thể giúp bạn tự động hoá thao tác này không? Bài nói sau sẽ hướng dẫn cách vét (scrape) dữ liệu với công cụ mechanize

http://www.slideshare.net/dieunb/web-scraping-40445933

[2014-09-15 07:29] joneslee85 opened #18 "Meetup 2/2016 - Sam Saffron(@samsaffron) - Profiling Rails app like a pro!"
Sau 4 năm qua từ bản 1.8 đến nay, bản 2.1.2, Ruby đã cải thiện đáng kể phần tốc độ với engine GC mới. Nhưng thực sự bạn có thể tối ưu hoá thêm ít nhất 20%-30% hiệu suất bằng cách tune Ruby. Thêm vào nữa nếu app bạn bị chậm hay leak thì bài nói sau cũng sẽ hướng dẫn bạn một số thủ thuật để đo và cải thiện.

Diễn giả Sam Saffrone là kỹ sư của sản phẩm Discourse nổi tiếng, anh dầy dạn kn trong việc t

[2014-09-18 04:44] joneslee85 opened #19 "Meetup ?? - Toby Hede (@tobyhede) - Intro to Volts"
Toby Hede (@tobyhede) là một trong những kỹ sư máu mặt của cộng đồng Ruby Sydney. Mình có gợi ý anh làm một bài nói online cho meetup và anh đồng ý. Anh sẽ giới thiệu cho các bạn framework Volts.

Các mem nào quan tâm thì reply lại với :+1:, nếu có trên 5 replies thì mình sẽ chính thức chốt với anh ấy.

[2014-09-25 02:31] suonlight opened #20 "Meetup #4 - Minh Nguyễn (@suonlight) - Giới thiệu Monoid, Monad và ứng dụng trong lập trình song song"
Bài nói sẽ trình bày về Monoid, Monad và ứng dụng trong lập trình song song.

[2014-10-08 23:29] runlevel5 opened #21 "Meetup #4 - Vinh Nguyen - Full text search with Apache Solr and Ruby"

[2014-10-16 13:13] runlevel5 opened #22 "Meetup 3 - Hiếu Nguyễn (@hieuk09) - Profiling Ruby"
Trình bày các thủ thuật Profiling Ruby

[2014-10-16 13:13] #22 closed, assigned to hieuk09

[2014-10-16 13:14] runlevel5 opened #23 "Meetup 3 - Huy (@huydx) - Making CLI app with ruby"
How i made facebook terminal client?

[2014-10-16 13:15] #23 closed, assigned to huydx

[2014-10-16 13:51] joneslee85 opened #24 "Meetup tháng 11 - Luca Guidi (@jodosha) - Giới thiệu Lotus Framework"
Luca là tác giả của Web Framework Lotus, Lotus là thành quả 10 năm của anh, framework này còn rất mới mẻ với cộng đồng Ruby. Cái hay của framework này là anh đã nghiên cứu kỹ các khuyết điểm của Rails để tạo ra một framework mới đơn giản, cực nhanh, hoàn toàn cô lập, thể hiện các business logic, phân cách các lớp, vv. Anh sẽ làm một bài giới thiệu framework tuyệt vời này nếu mọi người vote cho anh

[2014-10-16 15:09] huydx opened #25 "Meetup #3 Hiếu Nguyễn (@hieuk09) Ruby profiling"
http://slides.com/hieunguyen/profiling-ruby/live#/

[2014-10-16 15:11] huydx opened #26 "Meetup #3 Huydx (@huydx) Making CLI app with readline library"
http://www.slideshare.net/dxhuy88

[2014-10-17 05:37] #26 closed, assigned to nobody

[2014-10-17 05:37] #25 closed, assigned to nobody

[2014-10-17 05:43] #17 closed, assigned to dieunb

[2014-10-17 10:19] huydx opened #27 "Meetup 3 - Phương Lê (Framgia member) - About rails secret token"
http://slides.com/yeuem1vannam/understanding_rails_secret_token

[2014-10-19 07:25] #27 closed, assigned to nobody

[2014-10-21 02:19] codynguyen opened #28 "Meetup #4 - Cody Nguyen (@codynguyen) - Event-driven programming in Ruby"
Giới thiệu về Event-driven programming, phương pháp lập trình giúp tối ưu hiệu năng cho các ứng dụng có lượng truy cập lớn qua các ví dụ bằng ngôn ngữ Ruby

[2014-10-21 23:27] #28 closed, assigned to nobody

[2014-10-22 01:33] kiennt opened #29 "Meetup #4 - Kiên - Deploying application to EC2 machines"
Chia sẻ về cách công ty em deploy application lên EC2.

Trước khi sử dụng EC2, bọn em sử dụng heroku, nên việc deploy rất đơn giản.
Khi chuyển sang EC2, có rất nhiều vấn đề phát sinh:
- Làm sao xây dựng hệ thống deploy có thể rollback được (nếu gặp lỗi)
- Làm sao để deploy chỉ với một dòng lệnh
- Làm sao để deploy với zero downtime.

Ngôn ngữ chính của app bọn em là python, nên có thể có khác biệt

[2014-10-23 08:48] nguyenchiencong opened #30 "Meetup 4 - Nguyễn Chiến Công (@nguyenchiencong) - Rails deployment with Docker"
Slide: http://slides.com/chiencongnguyen/docker-rails

[2014-10-23 09:22] #29 closed, assigned to nobody

[2014-10-23 10:44] #11 closed, assigned to rauxalach

[2014-10-24 02:02] #21 closed, assigned to nobody

[2014-10-24 11:25] #30 closed, assigned to nobody

[2014-11-11 04:20] unrealhoang opened #31 "Meetup #4 - Hoang Luu (@unrealhoang) - reduce() for fun and profit"
reduce là một kĩ thuật rất hay của lập trình hàm (functional programming). Bài nói ngắn sẽ giới thiệu về cách hoạt động cũng như cách khai thác hàm này.

[2014-11-17 10:59] #31 closed, assigned to unrealhoang

[2014-11-18 15:00] huydx opened #32 "Meetup #4 - (@longkt) - Sử dụng rails làm api server"

[2014-11-19 07:38] huydx opened #33 "Meetup 5 - Hải (@hoasung01) - Sử dụng enum trong rails"

[2014-11-21 05:08] dieunb opened #34 "Meetup 4 - Honma (CTO Framgia) - Nitrous"

[2014-11-24 03:27] #34 closed, assigned to nobody

[2014-11-24 03:29] joneslee85 opened #35 "Meetup ? - ??? - Thật hay giả (Truthy/Falsey) với Ruby"
Khi mới làm quen với Ruby, chắc hẳn bạn sẽ thấy lạ lẫm khi thấy cách Ruby dev sử dụng cách sau để kiểm tra là object có hiện hữu:

Vd:

[code]

thay vì

[code]

Trong 5', bạn sẽ biết đc tại sao và cách phân biệt và sử dụng

[2014-11-24 03:31] #32 closed, assigned to nobody

[2014-11-24 03:32] #20 closed, assigned to nobody

[2014-11-24 03:37] joneslee85 opened #36 "Meetup ? - ??? - Cách tra cứu API"
Bạn có bao giờ tự hỏi cách để tìm tài liệu cho 1 API trong Ruby ra sao chưa?

Trong 5' bạn sẽ đc giới thiệu và giao ước cách gọi tên hàm trong Ruby (# cho instance method và :: hay . cho class/module method) và cách sử dụng `ri` hay tool khác như Dash (cho OSX) hay Website hoặc cách tự tạo ra Rails API doc riêng.

[2014-11-24 03:40] joneslee85 opened #37 "Meetup ? - ??? - Cách đặt câu hỏi khi cần đc giúp đỡ trên chat room"
Trong cộng đồng ai cũng bận rộn với công việc, nên nếu bạn không biết cách hỏi thì không ai có thể giúp đc bạn. Vậy nên hỏi gì? Ra sao?

Tra khảo: https://gist.github.com/radar/996779

[2014-11-26 00:54] #33 closed, assigned to nobody

[2014-11-26 00:56] runlevel5 opened #38 "Meetup 5 - Đức (@lmduc) - Struct/OpenStruct là gì?"
Struct là vũ khí lợi hại của dân Ruby, hầu hết lập trình viên kinh nghiệm đều sử dụng Struct và OpenStruct.  Vậy nó là gì? Sử dụng cho ứng dụng nào?

[2014-11-26 00:57] runlevel5 opened #39 "Meetup 5 - Hoàng (@unrealhoang) - Symbol là gì?"
Các bạn mới nhập môn có lẽ rất bối rối khi đụng vào Symbol vì không hiểu nó khác gì string và tại sao lại sử dụng nó. Bài này sẽ giải thích về nguyên tắc hoạt động của nó và đưa ra các lời khuyên nên dùng nó khi nào và tại sao

[2014-11-26 01:00] joneslee85 opened #40 "Meetup ? - ??? - module là gì?"
bạn đã bao giờ tự hỏi module dùng để làm gì chưa?
- namespace
- mixin
- module method

[2014-11-27 12:43] runlevel5 opened #41 "Meetup 5 - Quý (@MQuy) - Closure trong Ruby"
Giới thiệu cách sử dụng proc/lambda

[2014-12-10 03:22] runlevel5 opened #42 "Meetup 5 - Hải (@hoasung01) - Enumeration"

[2014-12-10 03:22] #42 closed, assigned to nobody

[2014-12-11 09:20] #38 closed, assigned to lmduc

[2014-12-11 09:23] #39 closed, assigned to unrealhoang

[2014-12-11 11:04] #41 closed, assigned to MQuy

[2015-01-22 09:42] joneslee85 opened #43 "Meetup 6 - Chris Harvey - Job Finding Techniques"
Chris Harvey will give a talk on techniques that help you score a job in no time. Furthermore, writing a great CV is also covered.

[2015-02-09 10:18] trankimhieu opened #44 "Meetup 6 - Use Capstriano to deploy anything"
I want to talk about Capstriano because after use it to deploy my staging server. I feel very easy to use and it is a super good way to avoid touching server when deploy any app.

[2015-02-09 10:20] hieuk09 opened #45 "Meetup ? - @hieuk09 - Multithreading in ruby"

[2015-02-09 10:23] MQuy commented on #44
IMO, I don't like Capstriano, it's quite slow. I think it should be better if you talk about general deployment process and compare between deployment tools :smile:

[2015-02-09 10:25] trankimhieu commented on #44
@MQuy Ok, may be compare Cap with Shipit(Nodejs). In another side. I think it quite slow but reliable

[2015-02-09 10:27] joneslee85 commented on #44
@MQuy Haters gonna hate, sadly Cap is still a defacto method and I think it's worthy, I :+1:

[2015-02-09 10:35] joneslee85 commented on #43
:+1:

[2015-02-09 10:38] huydx commented on #43
:+1:

[2015-02-09 11:00] nnluukhtn commented on #43
:+1:

[2015-02-09 12:54] qu4n commented on #43
(y)

[2015-02-09 12:55] qu4n commented on #43
:+1:

[2015-02-09 13:09] nhattan commented on #45
:+1:

[2015-02-09 13:48] starchow commented on #44
I used Capistrano in the past, now I'm using mina for deployment. Mina is much faster and easier to use than Capistrano. It's like using heroku command line on your server.
But we should use the deployment tool instead of deploy a project step by step then again and again many times. So I :+1:

[2015-02-09 13:49] starchow commented on #43
:+1:

[2015-02-10 03:06] hoang1417 commented on #44
:+1: will be great if we have a comparison between them.

[2015-02-10 08:13] joneslee85 commented on #45
:+1:

[2015-02-10 11:43] joneslee85 commented on #44
xong, khoá sổ :)

[2015-02-10 11:43] #44 closed

[2015-02-10 11:45] #43 closed

[2015-02-10 12:38] huydx commented on #45
:+1:

[2015-02-11 08:59] bekeomut commented on #45
:+1:

[2015-02-11 11:34] joneslee85 commented on #45
okay, kết nhé, vậy Hiếu sẽ nói vào meetup tháng 3 ngoài HN vậy

[2015-02-11 11:34] #45 closed

[2015-02-13 02:54] nguyenchiencong commented on #45
:+1:

[2015-03-01 10:08] crashbell opened #46 "Meetup #? - An Nguyễn - Nhúng GridManager vào ActiveAdmin"
Giới thiệu về `ActiveAdmin` gem và một chút về `GridManager` (https://github.com/neokoenig/jQuery-gridmanager). Cuối cùng là cách mình nhúng `GridManager` vào `ActiveAdmin`

[2015-03-02 00:32] huydx commented on #46
@crashbell em định present ở phía hà nội hay HCM?

[2015-03-02 07:50] crashbell commented on #46
em present ở HCM anh

[2015-03-02 23:41] #46 closed

[2015-03-06 18:13] rebyn opened #47 "Meetup 6 - Tu Hoang (@rebyn) - End-to-end testing for APIs & wrappers"
- I'm splitting a monolithic app into single purpose services
- Wrappers are usually built along services as well for better adoption
- Test suites are maintained via both places (service & wrapper) and use mocks/stubs intensively
- Changes roll out frequently in services and wrappers' test suites aren't catching up (be it lack of priority or such effort intensive a task)
- There needs a tool to d

[2015-03-08 04:28] joneslee85 commented on #47
@rebyn hello there, is this for the saigon.rb or hanoi.rb?

[2015-03-08 07:34] rebyn commented on #47
@joneslee85 hi anh, I'm in Saigon right now so it's gonna be for saigon.rb

[2015-03-08 15:19] huydx commented on #47
:+1: seem very interesting

[2015-03-09 04:49] #47 closed

[2015-03-10 12:35] nguyenducgiang opened #48 "Meetup 6 - Nguyễn Đức Giang (@nguyenducgiang) - Fetch & Extract Content from Web Pages"
Fetching web pages and extracting valuable content is a vital part of my project. I would like to share & discuss some of my experience related to this issue.

I will add more details here later.

[2015-03-10 12:53] joneslee85 commented on #48
:+1:

[2015-03-10 13:29] huydx commented on #48
:+1:

[2015-03-10 13:41] hungnv132 commented on #48
yeah!

[2015-03-10 14:05] stnguyen commented on #48
:+1:

[2015-03-10 14:07] stnguyen commented on #19
:+1:

[2015-03-10 14:12] stnguyen commented on #43
:+1: can I watch the talk on the internet?

[2015-03-10 14:29] stnguyen opened #49 "Meetup 7 - Stefan Nguyen - Speed up game development with Ruby scripting language"
Ruby không chỉ để làm Web. Bản thân Ruby là một ngôn ngữ kịch bản rất đẹp, mạnh mẽ, có thể sử dụng để viết script tự động hóa, xử lý text files, viết standalone application chạy trên các nền tảng khác nhau như Windows, Mac, Linux...

Trong bài nói này, mình muốn chia sẻ kinh nghiệm thực tế sử dụng Ruby tạo các công cụ giúp cho phát triển game được nhanh hơn, dễ dàng hơn.

Qua các ví dụ thực tiễn,

[2015-03-10 14:34] #48 closed

[2015-03-10 14:59] huynt57 commented on #49
Các ngôn ngữ kịch bản thông dịch khi lập trình game có yếu thế hơn các ngôn ngữ biên dịch thông thường như C++, Java không ạ ?. Khả năng hỗ trợ đa nền tảng, tốc độ của ứng dụng và tính chặt chẽ khi thực thi giữa hai loại ngôn ngữ này nữa ạ. Em đang phân vân giữa hai vấn đề này, hy vọng a Tùng sẽ có đề cập thêm trong bài nói :+1:

[2015-03-10 15:00] stnguyen commented on #49
@huynt57  bài này anh không nói về việc dùng ngôn ngữ Ruby để viết game. Bài nói này nói về dùng Ruby để tạo tools hỗ trợ các giai đoạn khác nhau của làm game.

[2015-03-10 15:02] huynt57 commented on #49
Thế ạ, thế lại hy vọng anh có bài nói nữa về vấn đề này :+1:

[2015-03-10 15:25] nhattan commented on #49
:+1:  tuyệt vời anh @stnguyen

[2015-03-10 15:40] huydx commented on #49
chủ đề này khá thú vị nên mình hoàn toàn :+1:

[2015-03-10 15:51] stnguyen commented on #24
:+1:  lần này có không ạ?

[2015-03-11 02:37] joneslee85 commented on #24
@stnguyen nếu lần này khu vực HN mạng tốt thì có thể

[2015-03-11 02:37] joneslee85 commented on #49
:+1:

[2015-03-11 02:39] #49 closed

[2015-03-11 17:33] thiensubs commented on #36
apipie-rails
http://blog.rubysg.com/2015/01/29/phong-cach-viet-api-document-chuyen-nghiep-cho-rails-voi-gem-apipie-rails/
Liệu bài viết này có dùng được ko bạn?

[2015-03-12 01:35] hnq90 commented on #36
@thiensubs Có vẻ như bạn hiểu sai ý rồi thì phải.

[2015-03-12 02:05] joneslee85 commented on #36
@thiensubs bạn hiểu sai ý của mình rồi, đề tài này là về phương pháp tra khảo documentation, đây là vấn đề nhiều bạn gặp khó khăn khi mới nhập môn

[2015-03-12 02:21] thiensubs commented on #36
OK.

[2015-03-12 03:06] joneslee85 commented on #43
@stnguyen sadly no, the Internet connection is horrible..

[2015-03-20 07:22] joneslee85 opened #50 "Meetup 1/2016 - Nick Suterer (@apotonick) - Introduction to Trailblazer"
Rails frontend is very broken in its own right due to lack of a proper structure and convention. Users are left with many choices and mostly goes awry after the GUI gets more complex. Introducing Trailblazer, an additional layer to complement Rails stack that define a convention for View layer by introducing composition structure.

Trailblazer is taking the world by storm with many companies are u

[2015-03-20 07:24] joneslee85 opened #51 "Meetup 2 - Fabiano Morais - How Envato implement continuous delivery tracking in our products?"
Fabiano is Envato's Iteration Facilitator, with years of exp in agile and management. He would love to share with us how things are done in Envato that ensure our product always deliver with top 'valume' (value + volume).

[2015-03-20 07:25] hieuk09 commented on #51
:+1:

[2015-03-20 07:30] xluffy commented on #51
(y)

[2015-03-20 07:53] nguyenchiencong commented on #51
:+1:

[2015-03-20 07:57] #51 closed

[2015-03-20 08:05] nguyenducgiang commented on #51
:+1:

[2015-03-20 09:33] quyetdc commented on #51
(y)

[2015-03-20 10:26] MedianNguyen commented on #51
+1 voted

[2015-03-20 10:59] luonghuy24 commented on #51
:+1:

[2015-03-20 12:29] hungnv132 commented on #51
like!

[2015-03-20 13:41] huydx commented on #51
:+1:

[2015-03-20 14:24] nnluukhtn commented on #51
:+1:

[2015-03-20 14:25] nnluukhtn commented on #50
:+1:

[2015-03-20 14:33] hoang1417 commented on #51
:+1:

[2015-03-20 16:42] nhattan commented on #50
:+1:  :+1:

[2015-03-22 01:46] pddo commented on #51
(Y)

[2015-03-23 04:59] hoang1417 commented on #50
:+1:

[2015-03-27 10:49] hieuk09 opened #52 "Meetup #5 - @hieuk09 - Refactor big query using AREL"
Big query with multiple nested queries is very hard to maintain. We can take advantage of the power of Arel to convert long SQL query to simple, nice Ruby methods. Those methods will be much easier for testing and maintenance.

[2015-03-27 10:52] joneslee85 commented on #52
For 2moro?

[2015-03-27 11:00] hieuk09 commented on #52
Of course not :) It will be in the future meetup.

[2015-05-08 03:23] DonDinhIT opened #53 "Meetup 7 - @mymai @DonDinhIT- Chia sẻ cá nhân về nghề lập trình"
Chia sẻ cá nhân tại sao lại chọn nghề lập trình, và cảm nhận khi tham gia hoạt động cộng đồng và làm việc với các dự án mã nguồn mở.

[2015-05-12 14:55] vinhngl opened #54 "Meetup 7 - @vinhngl- Problem with nil and how to avoid them"
Sometime in the Rails app, you will see the error `NoMethodError: undefined method '...' for nil:NilClass `. So how did you solve it? I'll introduce 3 common ways to solve this problem.

[2015-05-13 04:24] joneslee85 commented on #54
Sound like a nice talk, 5' ?

[2015-05-13 04:30] #53 closed

[2015-05-13 06:39] vinhngl commented on #54
Yes. Just 5 mins

On Wednesday, May 13, 2015, Trung Lê <notifications@github.com> wrote:

--
Web Developer
AsNet Informatics & Trading Co., Ltd
604 Nui Thanh street, Hai Chau district, Da Nang city, Viet Nam
Phone: (+84) 1206147995
Skype: vinhnguyenle.asnet
Email: vinh.nguyenlexuan@asnet.com.vn

[2015-05-13 13:01] #54 closed

[2015-05-14 04:09] nguyenngoc2505 opened #55 "Meetup 4 - Nguyễn Thị Ngọc, Phạm Thị Thùy (@nguyenngoc2505, @thuypt)- Khi những cô gái trở thành lập trình viên"
- Chia sẽ những kinh nghiệm, tại sao chọn nghề, và những cảm nhận khi tham gia vào những dự án mã nguồn mở

[2015-05-14 04:32] joneslee85 commented on #55
@nguyenngoc2505 em muốn làm cho saigonrb hay hanoirb?

[2015-05-14 05:28] nguyenngoc2505 commented on #55
@joneslee85 : bọn em đang ở hà nội nên bài này bọn em sẽ làm luôn cho hanoirb ạ.

[2015-05-14 05:39] #55 closed

[2015-05-14 05:49] joneslee85 opened #56 "Meetup 7 - @MadRabbit Tạo trò chơi Street Fighter II với Ruby"
![](http://www.fightersgeneration.com/np5/gm/sf2-s3.jpg)

Ai cũng chắc đã chơi qua trò Street Fighter của hãng Capcom. Anh Nemshilov, một kỹ sư phần mềm có tiếng đến từ cty Ninefold sẽ trình bày cách viết game trên với gosu. Bài nói sẽ được trình bày bằng tiếng Anh và qua mạng, nếu mọi ng thích thì xin hãy cho 1 tràng :+1: ở dưới

[2015-05-14 05:53] phiendp commented on #56
:+1:

[2015-05-14 06:20] nhattan commented on #56
:+1:  /play yeah

[2015-05-14 06:31] nguyenngoc2505 commented on #56
:+1:

[2015-05-14 06:38] vumanhcuongit opened #57 "Meetup 7 - @vumanhcuongit - Form Objects in Rails"
I intend to talk about *Form Objects in Rails*. The presentation will focus three main points:
 * What is form objects?
 * Why is it worth using?
 * How to implement it?

[2015-05-14 06:42] huytd commented on #56
:+1:

[2015-05-14 06:44] mymai91 commented on #56
(y)

[2015-05-14 06:48] vumanhcuongit commented on #57
Tại sao các bạn nên vote up:
 * Tui mô tả issue bằng tiếng Anh thôi chứ nói bằng tiếng Việt :trollface:
 * Meetup 7 lần này có giới hạn chỗ ngồi, phải đăng ký sớm mới được, nên tui phải đi đường vòng để được tham dự meetup lần này :(

[2015-05-14 06:56] jonathan-vinova commented on #56
:+1:

[2015-05-14 07:02] joneslee85 commented on #56
:100:

[2015-05-14 07:13] phiendp commented on #57
:+1:

[2015-05-14 07:14] joneslee85 commented on #57
lol, :+1: for the pitch

[2015-05-14 07:34] hoang1417 commented on #57
lol, :+1:

[2015-05-14 07:34] hoang1417 commented on #54
:+1:

[2015-05-14 07:35] hoang1417 commented on #56
:+1:

[2015-05-14 07:59] rebyn commented on #57
lol :100:

[2015-05-14 11:21] GinVlad commented on #56
:+1:

[2015-05-14 12:31] khandz commented on #56
:+1:

[2015-05-14 13:50] catvm commented on #56
+1

[2015-05-14 15:52] #56 closed

[2015-05-15 03:23] hoang1417 commented on #53
go ahead, girls :+1:

[2015-05-15 11:58] #57 closed

[2015-05-16 07:31] hienvd commented on #56
:+1:

[2015-05-16 07:32] hienvd commented on #54
:+1:

[2015-05-16 16:58] vinh0604 opened #58 "Meetup 7 - @vinh0604 - Các lỗi bảo mật thường gặp của Rails"
I would like to share some common but very critical security mistakes that every web developer could easily fall into and some ways to deal with them in Rails:
- XSS
- SQL Injection
- Insecure cookies

[2015-05-16 17:04] voanhduy1512 commented on #58
:+1:

[2015-05-16 17:04] viphat commented on #58
:+1:

[2015-05-16 17:05] tma-dathi commented on #58
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-05-16 17:08] joneslee85 commented on #57
@vumanhcuongit vì đã có nhiều bài lần trước nói về form object, em có thể rút xuống thành bài 5' đc không? và dành thời gian 10' để tra đổi thêm với mọi người

[2015-05-16 17:16] PhamBaTho commented on #58
:+1:

[2015-05-16 17:18] phiendp commented on #58
:+1:

[2015-05-16 17:18] lethanhquang commented on #58
:+1:

[2015-05-16 17:19] thanhtung2806 commented on #58
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-05-16 18:14] hoang1417 commented on #58
:+1:

[2015-05-16 22:33] vumanhcuongit commented on #58
+1

[2015-05-16 22:55] vumanhcuongit commented on #57
@joneslee85 OK anh, như vậy trong bài 5' em sẽ trình bày "Tại sao nên dùng Form Objects?".

[2015-05-17 00:28] #58 closed

[2015-05-17 01:10] minhdanh commented on #58
:+1:

[2015-05-17 03:26] huydx commented on #58
:+1:

[2015-05-17 04:42] duythanh commented on #58
bem bem, vote cho a để có cơ hội nói ạ, chứ e hiện tại chưa đủ trình để quan tâm, sau này hy vọng có :P blè blè

[2015-05-17 05:39] hoangviet commented on #58
:+1:

[2015-05-17 10:07] hienvd commented on #58
:+1:

[2015-05-17 14:07] crashbell commented on #54
(y)

[2015-05-17 14:08] crashbell commented on #54
:+1:

[2015-05-17 14:09] crashbell commented on #53
:+1:

Don't know why no one voted her...

[2015-05-17 14:41] huydx commented on #53
:+1:

[2015-05-17 14:41] huydx commented on #52
:+1:

[2015-05-18 05:14] joneslee85 commented on #53
:100:

[2015-05-18 05:15] joneslee85 commented on #52
:+1: for meetup 4, :-1: for meetup ??

[2015-05-20 01:47] vumanhcuongit commented on #57
Mình gửi mọi người link slide: goo.gl/Auxmr0

[2015-05-20 01:52] vinhngl commented on #54
Slide for meetup: [Problem with nil and How to avoid them](https://docs.google.com/presentation/d/1HMVzCHnRVy7oZxBAobNIHhjFzFwyu3GBLp4rg0bnPjo/edit?usp=sharing)

[2015-05-20 15:13] hieuk09 commented on #51
Slide: http://slides.com/fabianomorais/deck-1/#/

[2015-05-20 15:14] hieuk09 commented on #30
Slide: http://slides.com/chiencongnguyen/docker-rails

[2015-05-21 00:08] joneslee85 commented on #24
Anh Luca oke về làm một bài online, vì mạng lần này tốt nên quyết định thử nghiệm

[2015-05-21 05:12] hoang1417 commented on #24
:+1: it's great hearing about Lotus

[2015-05-22 11:23] dattengichaduoc commented on #58
:+1:

[2015-06-18 06:32] checkraiser opened #59 "Meetup 8 - @checkraiser - Writing Rails FrontEnd using React.js stack"
We should rewite the default frontend Rails with this frontend stack:
- Webpack for bundling Javascript
- React.JS for Javascript View
- BaconJS for Reactive update

Rails provides only API for the frontend to serve.

Benefit of this architecture:
- We seperate completely the frontend and backend code !
- We could use modern Node.js toolbelts to focus on Frontend
- We could focus on API on Rails o

[2015-06-18 07:16] vinhngl commented on #59
:+1:

[2015-06-18 07:49] hoang1417 commented on #59
:+1:

[2015-06-18 08:07] joneslee85 commented on #59
:+1:

[2015-06-18 09:02] quyetdc commented on #50
:+1:

[2015-06-18 09:03] quyetdc commented on #59
:+1:

[2015-06-18 09:32] checkraiser commented on #50
:+1:

[2015-06-18 09:49] hoang1417 commented on #50
:+1:

[2015-06-18 09:57] huynhquancam opened #60 "Meetup 8 - @huynhquancam - Rails client-side validation with bootstrap_validator_rails"
Writing client-side validations in JS is so tiring, what would it be like if the validation scripts were automatically generated using your model validations?

I'd like to introduce my personal open-source project `bootstrap_validators_rails` (https://github.com/huynhquancam/bootstrap_validator_rails) on how this gem might solve the client-side validation problem.

Agenda:

* Fast introduction of

[2015-06-18 09:59] huynhquancam commented on #59
:+1:

[2015-06-18 11:55] joneslee85 commented on #50
kì này có vẻ căng vì mạng lởm, để mình hỏi xem anh Nick có quá cảnh ở VN không, nếu đc nói anh làm một bài

[2015-06-18 11:56] joneslee85 commented on #60
Như vậy validation này là có cả trên server và client side hay chỉ có client?

[2015-06-18 12:00] joneslee85 commented on #24
Mạng AAG vẫn chập chờn nên đành hoãn lại tiếp, haizzz

[2015-06-18 12:03] huynhquancam commented on #60
Nó sẽ đọc validation trong models và tự sinh ra mã javascript hoặc html5 data attributes tương ứng (https://github.com/formvalidation/formvalidation) để validate client-side, còn trên server thì nó vẫn validate như bình thường thôi anh. :smiley:

[2015-06-18 12:10] vumanhcuongit commented on #60
:+1:

[2015-06-18 12:27] phiendp commented on #60
:+1:

[2015-06-18 14:32] joneslee85 commented on #60
:+1: (vậy thì dùng nodejs đi nhỉ :trollface:)

[2015-06-18 14:57] huynhquancam commented on #60
e lỡ viết Ruby rồi :hushed: ... hay là giờ dùng Opal cho đỡ viết lại anh nhỉ :laughing:

[2015-06-18 14:59] mymai91 commented on #60
:+1:

[2015-06-18 16:28] demonkid98 commented on #59
:+1:

[2015-06-18 16:36] joneslee85 commented on #60
@huynhquancam bị dội lại quả Opal, vãi troll

[2015-06-18 16:53] stevenyap commented on #60
Up

[2015-06-18 17:12] hiendinhngoc commented on #59
:+1:

[2015-06-19 01:44] duykhoa commented on #60
@huynhquancam  nghe lời bác winston ghê ta ui! Like it :heart_decoration:

[2015-06-23 02:06] voanhduy1512 commented on #59
:+1:

[2015-06-23 02:06] duytd commented on #59
:+1:

[2015-06-23 02:06] voanhduy1512 commented on #60
:+1:

[2015-06-23 03:22] hiendinhngoc commented on #60
:+1:

[2015-06-23 03:41] vumanhcuongit commented on #59
:100:

[2015-06-23 03:45] crashbell commented on #59
:+1:

[2015-07-07 06:36] #60 closed

[2015-07-14 05:25] #59 closed

[2015-07-14 05:42] baothi commented on #60
:+1:

[2015-07-14 05:44] baothi commented on #59
:+1:

[2015-07-14 09:20] trankimhieu opened #61 "Meetup 8 - @trankimhieu (Hieu Tran) - Viết nhanh một API để sử dụng với Slack command"
Hi `all`,

When we use `Slack` at our office. We want to integrate all in one collaboration working space and we use Slack to give the reward to teammate and use Slack to order food.
So now, we want to share to you how to use `Ruby + Lotus` and `NodeJS + Express` (two languages) to write a small application to execute Slack command.

Time: 15 minutes
Tools: Text editor, Ruby/Node, Slack, Heroku
Ob

[2015-07-14 09:21] trankimhieu commented on #61
@joneslee85 Help me review, check spell and add tags please

[2015-07-14 09:29] joneslee85 commented on #61
@trankimhieu good luck, I hope you are able to squeeze in 2 languages in 1 session.

Can I order a :hamburger: now? :+1:

[2015-07-14 09:33] trankimhieu commented on #61
@joneslee85 I think I will code already and tagged on git. So go through step by step and show how. Not need to code.

[2015-07-14 09:35] huydx commented on #61
:+1:

[2015-07-14 09:41] huytd commented on #61
:+1:

[2015-07-14 09:44] bdthinh commented on #61
:+1: exciting

[2015-07-14 09:47] cuong-nguyen-ta commented on #61
(y)

[2015-07-14 10:01] baothi commented on #61
:+1:

[2015-07-14 10:03] hdanh commented on #61
👍

[2015-07-14 10:05] batlongthien commented on #61
(y)

[2015-07-14 10:30] phiendp commented on #61
:+1:

[2015-07-14 10:40] mymai91 commented on #61
:+1:

[2015-07-14 12:04] HuuThuan0701 commented on #61
:+1:

[2015-07-14 12:07] nguyenquangminh0711 commented on #61
:+1:

[2015-07-14 12:50] linhpham commented on #61
:+1:

[2015-07-14 12:51] qu4n commented on #61
(y)

[2015-07-14 13:02] thaod commented on #61
:+1:

[2015-07-14 13:45] luuhai commented on #61
(Y)

[2015-07-14 14:28] sondinh2702 commented on #61
:+1

[2015-07-14 14:40] nktanh commented on #61
:+1:

[2015-07-14 14:45] thanhtranvan commented on #61
:100: :+1:

[2015-07-14 14:49] huuthonguyen76 commented on #61
:+1:

[2015-07-14 14:57] vanlan228 commented on #61
:+1:

[2015-07-14 15:09] joneslee85 commented on #61
Quá dữ, bà con đông đảo ủng hộ, good luck @trankimhieu

[2015-07-14 15:09] #61 closed

[2015-07-15 01:55] nhattan commented on #61
(Y)

[2015-07-15 03:35] thiensubs opened #62 "Meetup #8 - anvotien - Giới thiệu cách tích hợp một số BackgroudWorker với ActiveJob - Rails 4.2"
Hi all,
Hướng tiếp cận:
- Dễ thấy: Cụ thể và dễ dàng nhìn nhận với các Rails dev đó là việc khi ứng dụng gởi email, nếu như bình thường thì khi ứng dụng chạy qua dòng lệnh gởi email, ứng dụng sẽ chờ đến khi email được gởi xong mới thực hiện dòng lệnh phía dưới. Điều này sẽ làm ứng dụng chậm đi, chưa kể đến việc khá nguy hiểm khi chúng ta vô tình check điều kiện email có được gởi hay không để thực

[2015-07-15 03:44] hieuk09 commented on #62
:+1:

[2015-07-15 03:44] hieuk09 commented on #62
Cái này ở SG hay HN vậy bạn?

[2015-07-15 03:45] thiensubs commented on #62
Dạ, SG anh.

[2015-07-15 04:19] joneslee85 commented on #62
Nếu bài này 5' thì có thể xem xét đưa vào vì hiện đã có 3 bài 15' khác, khá là đầy.

[2015-07-15 04:43] huydx commented on #62
:+1:

[2015-07-15 04:45] huydx opened #63 "Meetup #5 - @huydx - NoSQL database for great good"
Nói về đặc trưng của một số NoSQL tiêu biểu
Điểm yếu điểm mạnh của từng loại
Cách chọn NoSQL database cho dự án

[2015-07-15 06:14] phongtattuan commented on #62
:+1:

[2015-07-15 06:20] hoang1417 commented on #62
:+1:

[2015-07-15 07:43] joneslee85 commented on #63
:+1:

[2015-07-15 07:44] joneslee85 commented on #52
:+1:

[2015-07-15 08:02] nguyenducgiang commented on #63
:+1:

[2015-07-15 09:17] xluffy commented on #63
(y)

[2015-07-15 10:06] phongtattuan commented on #63
:+1:

[2015-07-15 14:04] nhattan commented on #63
:+1:

[2015-07-15 14:51] hoanghiep90 commented on #62
(y)

[2015-07-15 15:26] thanhcuong1990 commented on #62
:+1:

[2015-07-15 22:57] joneslee85 commented on #62
:+1:

[2015-07-16 10:18] hoangvukenshin commented on #62
:+1:

[2015-07-16 16:38] nusdavid commented on #62
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-07-19 02:58] joneslee85 commented on #62
accepted, good luck

[2015-07-19 02:58] #62 closed

[2015-07-23 08:51] pacuum opened #64 "Meetup 5 - Imamura - power_assert with RSpec"
power_assert provides descriptive assertion messages through standard assert interface.
It is a small but useful gem to make your test/spec readable for developers and make the error message far more meaningful.
https://github.com/joker1007/rspec-power_assert

* Problems of rspec matchers
* What is Power Assert
* How to use Power Assert with RSpec

[2015-07-24 00:07] nhattan commented on #64
:+1:

[2015-07-24 00:21] nguyenducgiang commented on #64
:+1:

[2015-07-24 00:51] mymai91 commented on #64
:+1:

[2015-07-24 01:16] huynhquancam commented on #64
:+1:

[2015-07-24 02:12] huydx commented on #64
:+1+

[2015-07-24 02:43] joneslee85 commented on #64
:+1:

[2015-07-24 02:59] luuhai commented on #64
:+1:

[2015-07-24 05:57] giangnguyennet commented on #64
:+1:

[2015-07-30 15:28] hieuk09 commented on #52
Slide: http://www.slideshare.net/HieuNguyenTrung/using-arel-to-refactor-big-queries

[2015-07-30 15:28] #52 closed

[2015-07-30 15:31] hieuk09 commented on #63
Slides: http://www.slideshare.net/dxhuy88/nosql-for-great-good-hanoirb-talk

[2015-07-30 15:31] #63 closed

[2015-07-30 15:31] hieuk09 commented on #64
Hi @pacuum, could you please upload your slide?

[2015-08-15 11:44] huytd commented on #61
Nhớ share slide nhé bác @trankimhieu
Mình ở ĐN ko tham gia meetup đc :(

[2015-09-09 01:49] pddo commented on #15
:+1:

[2015-09-09 01:50] pddo commented on #16
:+1:

[2015-09-09 02:05] suonlight commented on #18
:+1:

[2015-09-09 11:11] vumanhcuongit opened #65 "Meetup tháng 9 - Cuong Vu - Sử dụng JSON Schema trong RSpec"
Trong khi test với RSpec, có lẽ bạn đã từng làm như thế này.
[code]
Mình nghĩ code sẽ đẹp hơn nếu trở nên như thế này
[code]
Mình hy vọng có bài nói 5' để giới thiệu cách sử dụng [JSON Schema](http://json-schema.org/) trong RSpec.

**Slides**: https://goo.gl/Al12ex

[2015-09-09 21:34] rebyn commented on #65
:+1:

[2015-09-10 00:57] huynhquancam commented on #65
:+1:

[2015-09-10 01:00] huynhquancam commented on #24
:+1: lót dép ngồi hóng

[2015-09-10 03:33] joneslee85 commented on #24
mạng ở nhà không tốt, hóng tiếp rồi :(

[2015-09-10 03:34] joneslee85 commented on #65
:+1:

[2015-09-10 03:35] joneslee85 commented on #18
Cái này chỉ là gợi ý thôi, có ai muốn làm bài này thì cho mình biết

[2015-09-10 03:35] joneslee85 commented on #16
Vẫn chỉ là gợi ý chủ đề, có ai muốn nói bài này không?

[2015-09-10 03:35] joneslee85 commented on #15
Vẫn chỉ là gợi ý chủ đề, có ai muốn nói bài này không?

[2015-09-14 03:04] rauxalach commented on #65
:+1:

[2015-09-14 07:34] nlhkh opened #66 "Meetup tháng 9 - Kha - Functional and OO programming in Ruby"
### Why functional programming
- Scalable
- Immutable
- Composable
- First class function
- Declarative
- No side effects

### Why oo programming
- Data abstraction
- Attributes and Behaviors
- Encapsulation
- Composable
- Inheritance

### Combine OO with Functional programming in Ruby
- Immutable instances
- Operations return new instances

### [Slides](https://docs.google.com/presentation/d/1BM2

[2015-09-14 07:42] unrealhoang commented on #66
@nlhkh `isEmpty` theo ruby convention thì là `empty?` nhé bạn :smile:

[2015-09-14 07:42] nlhkh commented on #66
ah okie :) cam on ban

[2015-09-14 07:43] joneslee85 commented on #66
@nlhkh chủ đề có vẻ khá là dài, liệu chăng nên giới hạn nội dung lại?

[2015-09-14 07:48] nlhkh commented on #66
@joneslee85 thật ra ban đầu mình còn sợ không hết 15 phút :)
code ví dụ nhiều vậy thôi, chứ mình sẽ không nói qua từng dòng code đâu, ví dụ trong Fraction, mình chỉ cần nói qua `add` và `negate`, và combine lại thành `subtract` thôi.

[2015-09-14 07:49] joneslee85 commented on #66
:+1: vote 1 cái đã nào, chủ đề mình yêu thích

[2015-09-14 07:50] unrealhoang commented on #66
:+1: vote 1 cái
@joneslee85 vote đổi group thành FPVN luôn :trollface:

[2015-09-14 07:51] nlhkh commented on #66
LOL :+1:

[2015-09-14 07:52] huynhquancam commented on #66
:+1: vote vote

[2015-09-14 08:01] vumanhcuongit commented on #66
:100:

[2015-09-14 08:01] bdthinh commented on #66
:100:

[2015-09-14 08:24] huydx commented on #66
:+1:

[2015-09-14 09:45] baothi commented on #65
:+1:

[2015-09-14 10:22] rebyn commented on #66
:dancer:

[2015-09-14 10:34] demonkid98 commented on #66
:+1:

[2015-09-14 11:15] phluan commented on #65
:+1:

[2015-09-14 12:07] peternguyen1991 commented on #66
:+1:

[2015-09-14 12:55] ancv1990 commented on #65
:+1:

[2015-09-14 12:56] ancv1990 commented on #66
:+1:

[2015-09-14 14:46] danghatam commented on #66
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-09-14 15:05] billytran1222 commented on #65
:+1:

[2015-09-14 15:06] thanhcuong1990 commented on #65
:+1:

[2015-09-15 06:46] comictvn commented on #66
:+1:

[2015-09-15 11:45] ngocphuuit commented on #66
💑

[2015-09-15 13:00] modology commented on #66
:+1:

[2015-09-15 15:18] hoang1417 commented on #66
:+1:

[2015-09-16 01:06] joneslee85 commented on #66
ôi vãi, chào founder @modology, lâu lắm mới thấy rồng xuất hiện

[2015-09-17 04:44] dathi commented on #66
:+1:

[2015-09-22 04:37] medhap369 commented on #66
:+1:

[2015-09-22 14:35] vumanhcuongit commented on #65
hi mọi người, mình đã cập nhật slides trong phần description :dancers:

[2015-09-23 04:48] joneslee85 commented on #65
:+1:

[2015-10-14 05:01] mymai91 opened #67 "Meetup tháng 10 - My - SMS Verify tài khoản đăng nhập bằng số điện thoại (Rails + Gem Twilio)"
Currently, Having more app use phone_number to create accout like Viber, zalo...
This is the step how it work:

Step 1: Input phone number
Step 2: Submit phone number
Step 3: Generater a pin code
Step 4: Send pin code to user by SMS
Step 5: User got a pin code and input it into field pin code to verify
To apply step 4 having gems support it like Twilio or Nexmo...
In this topic I will introduce th

[2015-10-14 05:52] joneslee85 commented on #67
Please update description

[2015-10-15 15:37] mymai91 commented on #67
Currently, Having more app use phone_number to create accout like Viber, zalo...
This is the step how it work:
* Step 1: Input phone number
* Step 2: Submit phone number
* Step 3: Generater a `pin code`
* Step 4: Send `pin code` to user by SMS
* Step 5: User got a `pin code` and input it into field `pin code` to verify

To apply **step 4** having gems support it like Twilio or Nexmo...
In this top

[2015-10-16 07:00] joneslee85 commented on #67
@mymai91 please edit and update the issue description

[2015-10-16 07:09] mymai91 commented on #67
@joneslee85 I have described above. Is it not correct?

[2015-10-19 04:49] rockkhuya opened #68 "Meetup tháng ?? - Tuấn Anh - Growing Rails"
Bài nói 15p về cấu trúc và cách bố trí controller trong trường hợp project lớn.

[2015-10-19 05:21] joneslee85 commented on #68
@rockkhuya bạn nộp cho meetup saigon.rb hay dannang.rb?

[2015-10-19 05:22] rockkhuya commented on #68
@joneslee85 Mình nộp cho meetup danang.rb :)

[2015-10-19 05:37] joneslee85 commented on #68
:+1:

[2015-10-19 05:37] joneslee85 commented on #68
cc @mymai91

[2015-10-19 06:51] mymai91 commented on #68
@joneslee85 Got it.

[2015-10-19 10:11] joneslee85 commented on #68
@mymai91 please post on FB for ppl to come voting

[2015-10-19 10:12] joneslee85 commented on #67
@mymai91 you are supposed to describe the problems. What is it here? Too many steps, prone for error? Not intuitive for UX?

[2015-10-19 10:13] #64 closed

[2015-10-19 10:13] #65 closed

[2015-10-19 10:13] #66 closed

[2015-10-19 14:42] mymai91 commented on #67
@joneslee85 I update it. Is it correct?

[2015-10-20 02:36] huytd commented on #68
:+1:

[2015-10-20 03:38] joneslee85 commented on #67
:+1:

[2015-10-21 07:09] mymai91 commented on #67
@joneslee85 Can you help me review slide?

[2015-10-21 07:10] mymai91 commented on #68
@rockkhuya Can you push out your slide?

[2015-10-22 08:19] CQBinh opened #69 "Meetup tháng 10 - Cao Quảng Bình - ActiveRecord Association & Database (MySQL)"
Bài nói 5 phút về vấn đề toàn vẹn dữ liệu trong rails, những quan niệm sai lầm về quan hệ giữa các `model` và giải pháp khắc phục.
Slide: https://www.dropbox.com/s/t2schwf5pl3kido/AsianTech_ActiveRecord%20Asscociation%20and%20MySQL.odp?dl=0 (updated 23/10 16:30)

[2015-10-22 12:42] joneslee85 commented on #69
:+1:

[2015-10-22 12:42] joneslee85 commented on #67
@mymai91 surely, please grant me edit rights

[2015-10-22 12:45] mymai91 commented on #67
@joneslee85 Added. Please help

[2015-10-23 10:38] vinhnglx commented on #68
@mymai91 @joneslee85 He will talk in the next meetup.

[2015-10-24 01:52] joneslee85 commented on #68
@vinhnglx I've just unassigned him from this Oct Meetup milestone

btw, great job last nite

[2015-10-24 01:52] #67 closed

[2015-10-24 01:53] #69 closed

[2015-10-24 01:54] joneslee85 commented on #69
Thanks @CQBinh for the great talk, looking forward to seeing more sharing from you in the future.

Though not being there, I overheard the conversation, and it seems to me that this topic could become a main topic of a hacknight

[2015-11-17 02:43] hoasung01 opened #70 "Meetup tháng 11 - @hoasung01 - Delegate"
Hướng dẫn sử dụng delegate thông qua một demo đơn giản trong 5 phút :)

Slide có thể tìm thấy tại   <a href="https://speakerdeck.com/hoasung01/ruby-meetup-delegate">link</a>

[2015-11-17 02:58] phongtattuan commented on #70
:+1:

[2015-11-17 02:59] joneslee85 commented on #70
:+1:

[2015-11-17 03:07] quocnv commented on #70
@hoasung01  còn gì khác không, PA hết coi :D

[2015-11-17 03:10] rhacker commented on #70
example code đi anh, mới ý kiến tiếp được :D

[2015-11-17 03:24] joneslee85 commented on #70
@hoasung01 góp ý là nên cắt nghĩa delegation pattern cho đám đông rồi mới nhảy vào giới thiệu cách làm của Ruby, nếu mà có thể giới thiệu đc luôn cách Rails làm thì càng tốt.

[2015-11-17 03:26] hoasung01 commented on #70
delegate(*methods) Link
    Provides a delegate class method to easily expose contained objects' public methods as your own.

    Options

    :to - Specifies the target object

    :prefix - Prefixes the new method with the target name or a custom prefix

    :allow_nil - if set to true, prevents a NoMethodError to be raised

    The macro receives one or more method names (specified as symbols o

[2015-11-17 03:41] hoasung01 commented on #70
@quocnv: được chưa
@rhacker: example code là API ở trên thôi :)
@joneslee85: dạ, anh. Sẽ có cắt nghĩa cho delegate trước khi vào demo. Còn cách làm của Rails thì em nghĩ show cái hàm delegate trong API là đủ rồi nhỉ?

[2015-11-17 04:20] rebyn commented on #70
:+1: 5m talk FTW

[2015-11-17 06:05] joneslee85 commented on #70
@hoasung01 uhm

[2015-11-19 09:46] huynhquancam opened #71 "Meetup tháng 11 - huynhquancam - Monkey Patching an toàn với Ruby"
Meetup 11/2015 - Cẩm (@huynhquancam) - Monkey-Patching an toàn trong Ruby

Bài nói của mình sẽ về Monkey patching, một kỹ thuật vừa-nguy-hiểm-vừa-hữu-dụng trong lập trình Ruby, chủ yếu bao gồm 3 phần:

- Monkey patching là gì?
- Một số cách để monkey-patch một cách có "code đức".
- Phát biểu cảm nghĩ cá nhân về monkey patching.

Slide có thể tìm thấy tại [link](https://speakerdeck.com/hqc/monkey-p

[2015-11-20 02:23] hoang1417 commented on #71
:+1:

[2015-11-20 02:52] joneslee85 commented on #71
:+1:

[2015-11-20 03:01] hiendinhngoc commented on #71
+1

[2015-11-20 03:05] phongtattuan commented on #71
:+1:

[2015-11-20 03:11] qu4n commented on #71
:+1:

[2015-11-20 03:18] vumanhcuongit commented on #71
:100:

[2015-11-20 03:40] huydx commented on #71
:+1: cho quần cam

[2015-11-20 05:02] ntamvl commented on #71
:+1:

[2015-11-20 09:00] dnson commented on #71
:+1

[2015-11-20 09:05] vinhnglx commented on #71
:+1:

[2015-11-20 10:21] vinhnglx opened #72 "Meetup tháng 11 - vinhnglx - Saddler check style code"
Bài nói giới thiệu về cách setup [Saddler](http://packsaddle.org/) với Circle CI để kiểm tra code style.

- Trước đây mình đã từng dùng [HoundCI](https://houndci.com/) cho việc check code style. Tuy nhiên với private repo chúng ta phải trả 12$/month cho HoundCI.
- Gần đây mình tìm hiểu được có thể dùng [Saddler](http://packsaddle.org/). Kết hợp cùng với Circle CI để check code.

Cho nên trong bài

[2015-11-21 00:07] gagoit commented on #71
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-11-21 00:12] joneslee85 commented on #72
:+1:

[2015-11-21 00:19] huytd commented on #72
:+1:

[2015-11-21 00:21] huynhquancam commented on #72
:+1:

[2015-11-21 03:05] hoangtran-asnet commented on #72
+1

[2015-11-21 05:22] nhattan commented on #72
:+1:

[2015-11-21 06:03] taminhtien commented on #70
+1

[2015-11-21 06:04] taminhtien commented on #71
:+1:

[2015-11-22 14:49] duykhoa commented on #72
:100: :+1:

[2015-11-22 15:38] mymai91 commented on #72
:+1:

[2015-11-23 04:39] phongtattuan commented on #72
:+1:

[2015-11-23 05:25] hoang1417 commented on #72
:+1:

[2015-11-24 00:54] conficker1805 commented on #71
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-11-25 02:31] vinhnglx commented on #72
Slide: https://speakerdeck.com/vinhngl/saddler-hcmc-meetup-2015

[2015-11-25 02:42] joneslee85 commented on #72
@vinhnglx :100:

[2015-11-25 04:19] nongdenchet commented on #72
:+1:

[2015-11-25 06:12] duykhoa commented on #71
[:+1:](http://lgtm.in/u/eLIxbB11q) [:-1:](http://lgtm.in/r/eLIxbB11q)

[2015-12-08 02:00] duykhoa opened #73 "Meetup tháng 12 - Khoa Tran - Polymer in a Rails Dev perspective."
Mình muốn chia sẻ về cảm nhận sau khi dùng polymer js cho dự án Rails.

Trong bài sẽ có 4 phần:

- Tại sao mình chọn polymer.
- Mình xài thế nào
- Một cái Demo nhỏ
- 1 số resources cho các bạn quan tâm.

[2015-12-08 02:02] huynhquancam commented on #73
:+1:

[2015-12-08 02:02] vinhnglx commented on #73
:+1:

[2015-12-08 02:20] joneslee85 commented on #73
:+1:

[2015-12-08 02:20] joneslee85 commented on #73
@duykhoa can you please provide more details on this talk?

[2015-12-08 02:21] duykhoa commented on #73
@joneslee85 Thanks for asking, give me sometimes to figure out. Will update soon :smiley:

[2015-12-08 02:23] hoang1417 commented on #73
@duykhoa, you will travel to Da Nang at the meetup time or you're living there? :joy: Wanna see you talk in HCM though.

[2015-12-08 02:26] duykhoa commented on #73
Nope, via google hangout @hoang1417.

[2015-12-08 02:29] #70 closed

[2015-12-08 02:29] #71 closed

[2015-12-08 02:29] #72 closed

[2015-12-08 02:40] #24 closed

[2015-12-08 02:40] #2 closed

[2015-12-08 02:40] #68 closed

[2015-12-08 02:44] joneslee85 opened #74 "Meetup 1/2016 - Piotr Solnica (@solnica) - Intro to ROM (Ruby Objet Mapper)"
Piotr Solnica is a well-known Rubyist hacker, having been involved in may famous projects like Virtus, ROM, Rodokase, ROM, etc. He has been experimenting with many ORMS and come into conclusion that ORM is not the way, thus alone pushed himself onto a new project, ROM (Ruby Object Mapper). If you would like to know why ROM is better in concept than ORMs. Vote for him

Screencast https://www.youtub

[2015-12-08 03:07] huynhquancam commented on #74
:+1:

[2015-12-08 03:08] hoang1417 commented on #74
:+1:

[2015-12-08 03:11] giangstrider commented on #74
:+1:

[2015-12-08 03:12] joneslee85 commented on #74
:+1:

[2015-12-08 03:12] anduonghien commented on #73
:+1:

[2015-12-08 03:17] duykhoa commented on #74
:+1:

[2015-12-08 03:17] vinhnglx commented on #74
+1

On Tue, Dec 8, 2015 at 10:17 AM, Tran Duy Khoa <notifications@github.com>
wrote:

--
Ruby/Rails Developer
AsianTech inc
Floor 6, VTN3 building, Street No 3, An Don Industrial Zone, Da Nang city
Phone: (+84) 1206147995
Skype: vinhnglx
Email: vinh.nglx@gmail.com

[2015-12-08 04:00] hiendinhngoc commented on #74
:+1:

[2015-12-08 04:01] phongtattuan commented on #74
:+1:

[2015-12-08 04:14] hoangtran-asnet commented on #74
:+1:

[2015-12-08 10:31] mymai91 commented on #73
@duykhoa lam chuyen da nang di ban hien

[2015-12-08 11:06] trivv commented on #73
(Y)

[2015-12-08 14:09] mmeeoorroo commented on #74
:+1:

[2015-12-10 08:08] vinhnglx opened #75 "Meetup tháng 12 - Vu Nhat Minh (@DTVD) - Domain-Driven Design for Microservices Architecture"
* Những tư tưởng cơ bản của Domain-Driven Design (DDD)
* Phương pháp dùng DDD cùng với kiến trúc Microservices khi xây dựng hệ thống lớn.
+ α: Software Engineer life in Japan.

[2015-12-11 00:18] joneslee85 commented on #75
Interesting, are you sure this is Ruby-related? Looks to me more like MongoDB + NodeJS lol

[2015-12-13 13:53] DTVD commented on #75
Nhờ bạn @vinhnglx update lại title hộ mình:

* Title: Domain-Driven Design for Microservices Architecture
* Mình sẽ chia sẻ 3 phần
  * Những tư tưởng cơ bản của Domain-Driven Design (DDD)
  * Phương pháp dùng DDD cùng với kiến trúc Microservices khi xây dựng hệ thống lớn.
  * + α: Software Engineer life in Japan.

@joneslee85 lần này em chia sẻ chủ yếu về DDD thôi ạ.

[2015-12-13 15:08] phongtattuan commented on #75
:+1:

[2015-12-13 16:45] vinhnglx commented on #75
:+1:

[2015-12-13 17:52] joneslee85 commented on #75
:+1:

[2015-12-13 18:06] thomastran commented on #75
:+1:

[2015-12-14 02:14] xluffy commented on #75
:+1:

[2015-12-14 02:31] mymai91 commented on #75
:+1:

[2015-12-14 02:32] mymai91 opened #76 "Meetup tháng 12 - Hai Dang - Agile in develop"
Detail will be update by Hai Dang

[2015-12-14 02:32] mymai91 commented on #76
@vinhnglx Please help add label

[2015-12-14 03:17] joneslee85 commented on #76
@mymai91 I've just added you as admin

[2015-12-14 03:33] longkt90 commented on #75
:+1:

[2015-12-18 05:42] checkraiser opened #77 "Meetup 1/2016 - @checkraiser - Xây dựng kiến trúc Microservice với Rabbitmq"
- Mô phỏng 1 case study cho kiến trúc Microservice dùng RabbitMQ
- Ưu điểm / Nhược điểm của kiến trúc này

Các bạn có thể xem slide ở  [đây](https://yg77eet5ead0y8ka0jso.oasis.sandstorm.io/index.html#/).

Nếu có mọi câu hỏi, mình sẽ trả lời, và cập nhật vào slide luôn.

Question @[Slack RubyVN](https://vietnamrb.slack.com)

Demo:

Write server: [https://hpu-cas.herokuapp.com/tasks](https://hpu-cas

[2015-12-18 08:18] joneslee85 commented on #77
+1

[2015-12-22 04:57] anhtai87 commented on #74
+1

[2015-12-23 16:50] vinhnglx commented on #75
slide show: http://slides.com/minhnhat/dddformicroservices#/

[2015-12-23 16:50] vinhnglx commented on #73
slide: https://docs.google.com/presentation/d/1jmiuFen89OtNW53loa6pXXKNWs78VF2qrFzDqeTkw5I/edit#slide=id.gf341f4445_0_3856

[2015-12-24 01:39] #73 closed

[2015-12-24 01:39] #75 closed

[2015-12-24 01:39] #76 closed

[2015-12-24 02:02] giangstrider commented on #77
:+1:

[2015-12-24 02:06] quannt commented on #77
:+1:

[2015-12-24 02:10] phongtattuan commented on #77
:+1:

[2015-12-24 02:17] xluffy commented on #77
:+1:

[2015-12-24 02:23] vinhnglx commented on #77
:+1:

[2015-12-24 02:24] saiury92 commented on #77
:+1:

[2015-12-24 02:26] joneslee85 opened #78 "Meetup 1/2016 - Huy Đỗ (@huydx) - Giới thiệu Dependency Injection trong Ruby"
Dependency Injection hay tắt là DI là một design pattern không có gì là mới mẻ. Hiểu và áp dụng đc pattern này thực sự sẽ mang lại nhiều lợi thế cho phần mềm của bạn. Nếu bạn còn mù mờ và thắc mắc thì hãy bình chọn cho bài nói này

http://www.slideshare.net/dxhuy88/di-in-ruby

[2015-12-24 02:29] phongtattuan commented on #78
:+1:

[2015-12-24 02:31] phongtattuan commented on #74
:+1:

[2015-12-24 02:36] viphat commented on #78
:+1:

[2015-12-24 02:36] viphat commented on #74
:+1:

[2015-12-24 02:42] vinhnglx commented on #78
:+1:

[2015-12-24 02:44] nguyenducgiang commented on #50
:+1:

[2015-12-24 02:46] nnluukhtn commented on #78
:+1:

[2015-12-24 02:46] nnluukhtn commented on #77
:+1:

[2015-12-24 02:47] nnluukhtn commented on #74
:+1:

[2015-12-24 02:48] huynhquancam commented on #77
`10.times {` :+1: `}`

[2015-12-24 02:50] huynhquancam commented on #78
:+1:

[2015-12-24 02:51] huynhquancam commented on #50
:+1: hóng

[2015-12-24 02:51] hiendinhngoc commented on #78
:+1:

[2015-12-24 02:52] hiendinhngoc commented on #50
:+1:

[2015-12-24 02:58] joneslee85 opened #79 "Meetup ?/2016 - José Valim - Elixir for Rubyist (intro)"
Ngôn ngữ Elixir là một ngôn ngữ lập trình hướng chức năng mới, ra đời vào 2011 với nền tảng dựa trên Erlang VM. Đã không ít nhiều các cty trên thế giới chuyển qua sử dụng Elixir thay vì Ruby cho các ứng dụng đòi hỏi concurrency cao và gặt hái đc nhiều thành công nhất định. Nếu tính về độ tuổi của ngôn ngữ này thì thực sự đó là một thành công đáng đc sự quan tâm của mọi người. Thế Elixir là gì? Fun

[2015-12-24 03:01] phongtattuan commented on #79
:+1:

[2015-12-24 03:02] phongtattuan commented on #50
:+1: :+1:

[2015-12-24 03:14] vumanhcuongit commented on #79
:100:

[2015-12-24 03:14] vumanhcuongit commented on #78
:100:

[2015-12-24 03:17] huynhquancam commented on #79
:+1:

[2015-12-24 03:17] anhtai87 commented on #78
<img class="emoji" title=":+1:" alt=":+1:" src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png" height="20" width="20" align="absmiddle">

[2015-12-24 03:26] tiev commented on #78
:+1:

[2015-12-24 03:46] saiury92 commented on #50
:+1:

[2015-12-24 03:46] saiury92 commented on #78
:+1:

[2015-12-24 04:11] giangstrider commented on #78
:+1:

[2015-12-24 04:17] giangstrider commented on #50
:+1:

[2015-12-24 04:31] thomastran commented on #79
:+1:

[2015-12-24 04:35] giangstrider commented on #79
:+1:

[2015-12-24 04:39] huydx commented on #79
:+1:

[2015-12-24 05:03] unrealhoang commented on #79
:+1:

[2015-12-24 05:59] longkt90 commented on #78
:+1:

[2015-12-24 06:00] rebyn commented on #79
:+1:

[2015-12-24 06:02] trankimhieu commented on #77
+1

[2015-12-24 06:02] trankimhieu commented on #50
:+1:

[2015-12-24 06:36] hnq90 commented on #50
:100: :+1:

[2015-12-24 06:37] hnq90 commented on #77
:100: :+1:

[2015-12-24 08:32] longkt90 commented on #79
:+1:

[2015-12-24 09:38] vuthaihoc commented on #77
:+1:

[2015-12-24 10:04] mmeeoorroo commented on #78
:+1:

[2015-12-24 10:06] mmeeoorroo commented on #77
:+1:

[2015-12-24 13:20] leo009394 commented on #78
(Y)

[2015-12-25 01:34] dieuit07 commented on #78
:+1:

[2015-12-25 03:13] buithehien1991 opened #80 "Meetup 1/2016 - Bùi Thế Hiển (@buithehien1991) - Tổng quan về Background Worker và demo"
Mình thấy bài nói về background jobs trong HCM có vài bài rồi nhưng HN thì chưa, vậy nên mình mạn phép xin nói về vấn đề này.
Nội dung bài nói dự kiến:
- Giới thiệu ưu/nhược điểm của các Background Worker
- Live demo về sử dụng Sidekiq hoặc một số Background Worker nổi bật

Đối tượng hướng tới: Người mới bắt đầu hoặc chưa sử dụng Background Worker
Độ dài: 15 phút.
Địa điểm: Hà Nội

[2015-12-25 03:18] buithehien1991 commented on #78
:+1:
Ở SG hả anh?

[2015-12-25 04:00] minhdanh commented on #78
:+1:

[2015-12-25 04:01] minhdanh commented on #77
:+1:

[2015-12-25 04:11] trankimhieu commented on #80
:+1:

[2015-12-25 04:23] phongtattuan commented on #80
:+1:

[2015-12-25 04:31] joneslee85 commented on #80
:+1:

[2015-12-25 06:02] dat-vinvoice commented on #77
Like

[2015-12-25 06:44] saiury92 commented on #79
:+1:

[2015-12-25 15:12] giangstrider commented on #80
:+1:

[2015-12-26 01:57] hoang1417 commented on #79
:+1:

[2015-12-26 03:33] buithehien1991 opened #81 "Meetup ? - ??? - Deploy rails app for newbie"
Chào mọi người.
Mình là người mới code Plugin Redmine được hơn 1 năm, nhưng khi bắt đầu xây dựng áp của riêng  thì gặp các vấn đề sau:
- Deploy trên server nào (Passenger, Unicorn, Puma, ...) và thuê ở đâu cho hợp lý (DigitalOcean, Heroku, Amazon, ...) => So sánh, ưu nhược điểm của chúng
- Làm thế nào để tối ưu hóa SEO trên rails application.
- Làm thế nào để tối ưu hóa source code, server để phục

[2015-12-26 03:58] joneslee85 commented on #81
@buithehien1991 tháng 1 thì đủ bài nói rồi, vậy thì để bài này tháng 3 đc không nhỉ?

[2015-12-26 03:59] buithehien1991 commented on #81
@joneslee85  Vâng ạ. Bài này em muốn anh chị nào đó nói ạ. Chứ em chưa đủ kinh nghiệm :)

[2015-12-27 16:38] nhattan commented on #78
:+1:

[2015-12-27 17:45] checkraiser commented on #77
Mình đã cập nhật đường dẫn cho `slide` và `demo` .

[2015-12-30 02:02] nvh0412 commented on #78
:+1:

[2016-01-04 06:11] trankimhieu opened #82 "Meetup 1/2016 - Kim Hiếu (@kimhieu) - Giới thiệu về Ruboto (Ruby for Android Dev)"
Mình thấy có nhiều bạn dev backend rồi muốn chuyển qua frontend. Có 1 thư viện để viết Android bằng Ruby là `Roboto` nên mình xin có 1 bài nói 15p để giới thiệu về topic này.

Có thể sẽ ít người xài nó. Nhưng cũng thú vụ để viết những cái micro app tương tác với API mà không cần học ngôn ngữ khác.

[2016-01-04 06:12] trankimhieu commented on #82
@joneslee85 Anh labeling giùm em với.

[2016-01-04 06:22] joneslee85 commented on #82
:+1:

[2016-01-04 06:38] phongtattuan commented on #82
:+1:

[2016-01-04 06:43] vinhnglx commented on #82
:+1:

[2016-01-04 07:17] anhdayem818 commented on #82
:+1:

[2016-01-04 08:17] dathi commented on #82
:+1:

[2016-01-04 08:58] thaod commented on #82
:+1:

[2016-01-04 15:57] haidang30 commented on #82
:+1:

[2016-01-04 16:57] buithehoa commented on #82
:+1:

[2016-01-05 03:21] huynhquancam commented on #82
:+1:

[2016-01-05 05:11] tanngoc93 commented on #82
:+1:

[2016-01-06 16:32] hoang1417 commented on #82
:+1:

[2016-01-06 16:32] hoang1417 commented on #78
:100:

[2016-01-08 05:28] billyfutureworkz opened #83 "Meetup 2/2016 - Ngoc Hai (@hoasung01) - Giới thiệu về Rasperry Pi nhúng Artoo (ruby framework)"
Hi mọi người,
- Sau một thời gian tìm hiểu mình muốn làm một presentation về những kiến thức cơ bản nhất về lập trình nhúng với rasperry pi.
- Mình sẽ giới thiệu qua về RasperryPi, Artoo framework được viết bằng ruby và demo chương trình bằng LED đơn giản.
- Ở buổi thuyết trình thì mình cần có màn hình, chuột và bàn phím để kết nối với board RasperryPi khi chạy chương trình demo.

[2016-01-08 05:29] #83 closed

[2016-01-08 05:30] hoasung01 opened #84 "Meetup ?/2016 - Ngoc Hai (@hoasung01) - Giới thiệu về Rasperry Pi nhúng Artoo (ruby framework)"
Hi mọi người,
- Sau một thời gian tìm hiểu mình muốn làm một presentation về những kiến thức cơ bản nhất về lập trình nhúng với rasperry pi.
- Mình sẽ giới thiệu qua về RasperryPi, Artoo framework được viết bằng ruby và demo chương trình bằng LED đơn giản.
- Ở buổi thuyết trình thì mình cần có màn hình, chuột và bàn phím để kết nối với board RasperryPi khi chạy chương trình demo.

[2016-01-08 06:12] phongtattuan commented on #84
:+1:

[2016-01-08 06:15] runlevel5 commented on #84
:+1:

[2016-01-08 06:38] vumanhcuongit commented on #84
:+1:

[2016-01-08 10:45] dathi commented on #78
:+1:

[2016-01-08 13:35] #78 closed

[2016-01-09 02:37] duytd opened #85 "Meetup 1/2016 - Trình Đức Duy (@duytd) - Làm quen với Apache Thrift"
Trong quá trình làm Rails mình có gặp phải một vấn đề, đó là phải tìm cách sử dụng thư viện của ngôn ngữ khác Ruby cho dự án. Sau một thời gian tìm hiểu, mình đã sử dụng Apache Thrift. Thấy nó khá thú vị nên mình muốn có một bài chia sẻ về chủ đề này.
- Độ dài: 15"
- Địa điểm: Hà Nội

[meetup.pdf](https://github.com/ruby-vietnam/meetup/files/99266/meetup.pdf)

[2016-01-09 04:22] hieuk09 commented on #85
:+1:

[2016-01-09 07:22] runlevel5 commented on #85
nice nice +1

[2016-01-09 07:23] #74 closed

[2016-01-09 07:24] runlevel5 commented on #82
@trankimhieu can you please update the post with slide URL?

[2016-01-09 07:24] #82 closed

[2016-01-09 09:47] minhdanh commented on #85
:+1:

[2016-01-09 11:15] giangstrider commented on #85
:+1:

[2016-01-09 11:16] giangstrider commented on #84
:+1:

[2016-01-09 12:33] revskill10 commented on #80
:+1:

[2016-01-14 14:16] nguyenducgiang commented on #85
:+1:

[2016-01-14 14:16] nguyenducgiang commented on #77
:+1:

[2016-01-14 16:43] ghost commented on #81
Code 1 năm thì nói quá ngon rồi :dancer:  . Bạn không làm thì ai làm đây :+1:

[2016-01-15 11:11] hoang1417 commented on #77
:+1:

[2016-01-15 13:51] mymai91 commented on #77
:+1:

[2016-01-16 03:21] tunglam14 commented on #77
:+1:

[2016-01-18 01:54] huydx commented on #85
:+1:

[2016-01-21 04:27] tranductam2802 commented on #84
:+1: Hay quá anh ơi. Cái này anh có thể share với team ở Hà Nội không ạh?

[2016-01-21 04:43] kiennt commented on #79
(y)

[2016-01-21 06:24] hoang1417 commented on #84
:100: :+1:

[2016-01-21 06:30] dieunb commented on #84
:+1:

[2016-01-21 14:40] duytd commented on #85
Gửi mọi người slides bài nói nhé
[meetup.pdf](https://github.com/ruby-vietnam/meetup/files/99266/meetup.pdf)

[2016-01-21 14:42] #85 closed, assigned to nobody

[2016-01-21 14:42] #80 closed

[2016-01-21 14:43] #50 closed

[2016-01-21 14:44] #77 closed

[2016-02-12 16:24] hoang1417 commented on #79
:+1:

[2016-02-12 17:32] rebyn commented on #79
Cool bean.

[2016-02-24 03:53] hieuk09 opened #86 "Meetup 3/2016 - Hiếu Nguyễn (@hieuk09) - Authenticate using Warden"
- Devise gives us a huge range of features and configuration, but sometimes really complicated and overkill for simple app.
- This talk will give you some ideas about how to create a simple authentication strategy with Warden.

Slide: http://www.slideshare.net/HieuNguyenTrung/introduce-warden

[2016-02-24 05:59] huydx commented on #86
:+1:

[2016-02-24 10:45] runlevel5 commented on #86
:+1:

[2016-02-25 01:47] kiennt opened #87 "Meetup 3/2016 - Kiên Nguyễn (@kiennt) - Secure your Login with facebook API"
Sau một thời gian, trong quá trình làm việc và giúp đỡ các công ty build sản phẩm backend, mình nhận thấy rất nhiều công ty đã mắc lỗi bảo mật khi build API để login với facebook.

Trong bài nói này, mình muốn chia sẻ những lỗi bảo mật có thể xảy ra khi xây dựng API login, và kêu gọi sự chú ý của cộng đồng để phổ biến best practice khi làm việc với Facebook API.

Slides: https://slidr.io/kiennt/se

[2016-02-25 01:49] huydx commented on #87
:+1: :+1: :+1: :+1: :+1: :+1:

[2016-02-25 01:49] runlevel5 commented on #87
:+1:

[2016-02-25 02:01] quocnv commented on #84
Hót rồi :D

[2016-02-25 02:30] hoksilato commented on #84
:+1:

[2016-02-25 02:31] hoksilato commented on #86
:+1:

[2016-02-25 02:32] hoksilato commented on #87
:+1:

[2016-02-25 02:33] hieuk09 commented on #87
:+1: Is this talk in Hanoi?

[2016-02-25 02:37] karmiphuc commented on #87
:+1:

[2016-02-25 02:42] kiennt commented on #87
@hieuk09

This one is on HCMC, I already moved my family in HCMC.

[2016-02-25 02:42] nguyenngoc2505 commented on #86
:+1:

[2016-02-25 02:48] phongtattuan commented on #87
:+1:

[2016-02-25 03:13] mmeeoorroo commented on #87
:+1:

[2016-02-25 03:14] mmeeoorroo commented on #86
:+1: dung cai minh dang can

[2016-02-25 03:38] runlevel5 commented on #86
@hieuk09 em có thể lấy một vd cho non-rails đc không nhỉ? vd trên hanami hay sinatra ấy

[2016-02-25 03:40] nnluukhtn commented on #86
:+1:

[2016-02-25 03:44] hieuk09 commented on #86
@joneslee85 Em đang làm một cái với Hanami, nên chắc sẽ nói về sử dụng Warden trong Hanami và Rails. Sinatra thì chắc là lần khác :-?

[2016-02-25 03:45] runlevel5 commented on #86
vậy anh vote thêm :+1: nếu em cho xem ví dụ với hanami

[2016-02-25 03:46] runlevel5 commented on #79
Tình hình là ảnh bận, chắc phải tháng 5 mới đc :(

[2016-03-21 07:14] tucq88 commented on #87
có stream hay skype để ae theo dõi được ko ?

[2016-03-21 07:14] mymai91 commented on #87
:+1:

[2016-03-21 08:48] vinhnglx commented on #87
:+1:

[2016-03-21 11:02] duytd commented on #86
:+1:

[2016-03-21 11:03] duytd commented on #87
:+1:

[2016-03-21 12:20] longkt90 commented on #86
:+1:

[2016-03-21 12:21] longkt90 commented on #87
:+1:

[2016-03-21 14:59] tunglam14 commented on #86
:+1:

[2016-03-22 09:42] qcam opened #88 "Meetup 3/2016 - Cẩm Huỳnh (@huynhquancam) - Rack for beginner"
Slide cho nó nhé các bợn: https://speakerdeck.com/hqc/rack-for-beginners
- What / Why / How Rack?
- Build a Rack-based micro framework.

[2016-03-22 09:43] mymai91 commented on #88
:+1:

[2016-03-22 09:43] vinhnglx commented on #88
:+1:

[2016-03-22 09:54] runlevel5 commented on #88
:+1:

[2016-03-22 09:56] phongtattuan commented on #88
:+1:

[2016-03-22 10:01] tangten commented on #88
:+1:

[2016-03-22 10:02] tangten commented on #86
:+1:

[2016-03-22 10:03] tangten commented on #84
:+1:

[2016-03-22 10:07] thachck commented on #88
:+1:

[2016-03-22 10:27] duykhoa commented on #88
:+1: :+1:

[2016-03-23 03:24] nthngoc277 commented on #86
:+1:

[2016-03-23 03:24] nthngoc277 commented on #87
:+1:

[2016-03-23 03:49] conficker1805 commented on #88
:+1:

[2016-03-23 04:39] dieunb commented on #88
:+1:

[2016-03-23 04:42] dieunb commented on #87
:+1:

[2016-03-25 05:11] thiensubs opened #89 "Meetup 3/2016 - Tiến An (@thiensubs) - ExecJS: Node.js vs RubyRacer (5')"
- ExecJS là gì? Mục đích? Sử dụng NodeJS và RubyRacer với Runtime JS
- Benchmark nho nhỏ.
- Một vài kết luận và thảo luận.

[2016-03-25 07:15] runlevel5 commented on #89
cảm ơn bạn, bài này dài bao nhiêu phút?

[2016-03-25 07:17] thiensubs commented on #89
Bài này khoảng 5 phút nhé anh.

On Friday, 25 March 2016, Trung Lê notifications@github.com wrote:

##

_-----------------------------------------------------------------------Chào
thân ái và quyết thắng..._
_Trong đời có hàng trăm cái lý ngang với chân lý, nhưng chân lý là duy
nhất!_
Tiến An ^_^ BS  Phone: 0127.3851.881

[2016-03-26 09:10] dieunb opened #90 "Meetup ?/2016 - RubyMotion and write iOS native app with ruby (intro + demo)"
[RubyMotion](http://www.rubymotion.com) một Ruby Implementation. Ra đời bản đầu tiên (1.0) từ năm 2012, giúp cho các lập trình viên Ruby viết ứng dụng iOS, OS X native. RubyMotion đã nhận được nhiều phản hồi tích cực từ cộng đồng các lập trình viên, cũng như phát triển ecosystem một nhanh với libraries, screencasts and books. Đến nay, bên cạnh hỗ trợ viết iOS, OS X native app, RubyMotion còn hỗ tr

[2016-03-26 10:19] runlevel5 commented on #90
:+1:

[2016-03-29 02:46] tam-pham-alpha opened #91 "Meetup 3/2016, Tâm Phạm (@tampham47) - Frontend developer tại sao không?"
- Quan điểm về lập trình frontend trong cộng đồng lập trình viên.
- Vai trò của frontend developer trong nền công nghiệp phần mềm hiện đại.
- Làm thế nào để trở thành lập trình viên frontend.
#

ps/ mình đăng ký hơi trễ, nên nếu đã hết xuất thì mình để dành tháng sau cũng được :))
# hcmc.rb, #7, #beginner.

[2016-03-29 04:01] runlevel5 commented on #91
cảm ơn bạn rất nhiều, mình tiếc là lần này full rồi, nên minh để lần sau nhé

[2016-03-29 04:37] tam-pham-alpha commented on #91
Sẽ mở lại vào dịp khác :))

[2016-03-29 04:37] #91 closed, assigned to nobody

[2016-03-30 11:05] qcam commented on #88
Slide cho nó nhé các bợn: https://speakerdeck.com/hqc/rack-for-beginners

[2016-03-30 11:14] hieuk09 commented on #86
Slide: http://www.slideshare.net/HieuNguyenTrung/introduce-warden

[2016-03-30 23:17] #86 closed, assigned to nobody

[2016-03-30 23:17] #87 closed, assigned to nobody

[2016-03-30 23:17] #88 closed, assigned to nobody

[2016-03-30 23:17] #89 closed, assigned to nobody

[2016-04-11 10:15] kiennt opened #92 "Meetup 5/2016 - Kiên Nguyễn (@kiennt) - Introduction to Elixir language"
Topic giới thiệu về ngôn ngữ Elixir - ngôn ngữ lập trình được tạo ra bởi anh José Valim.

Nếu bạn muốn học một ngôn ngữ lập trình hàm, kiểu động, có cú pháp đẹp và dễ hiểu như Ruby, đồng thời lại có sức mạnh về xử lý song song như Erlang. Elixir chính là ngôn ngữ bạn nên học

[2016-04-11 10:30] runlevel5 opened #93 "Hacknight 6/2016 - Demystify Hanami.rb architecture"
This is not a 15' talk but likely a 45' or more. I often get asked about how hanami components hang together from public contributors. It is hard to explain everything in few minutes as hanami can be quite hairy underneath (yet it is still mush much MUCH SIMPLER than Rails core codebase).

I am yet to come up with a proper presentation, but in my head right now i am thinking of doing a reverse-eng

[2016-05-18 03:56] nickqueen1989 commented on #79
:+1:

[2016-05-28 12:58] hieuk09 opened #94 "Meetup 08/2016 - @hieuk09 - Meta-programing in Ruby - Behind Rails Magic"
Rails has a lot of magic: autoload files/classes, auto-generate methods (`find_by_`, `find_and_initialize_by_`, ...). This talk intent to explain the mechanism behind theses magic (`const_missing`, `method_missing`, ...).

[Slide](http://www.slideshare.net/HieuNguyenTrung/metaprograming-rails-secret)

[2016-05-28 13:01] hieuk09 opened #95 "Meetup ?? - ??/2016 - Meta-programing in Ruby - Build your own DSL"
Ruby ecosystem is dominated by clean, easy to use DSL. This talk will help you understand the secret behind all that, and even build your own simple DSL!

[2016-05-28 14:02] runlevel5 commented on #94
:+1:

[2016-05-28 14:24] hieuk09 opened #96 "Meetup 08/2016 - @hieuk09 - Meta-programing in Ruby - Introduction"
Ruby provides multiple ways for us to meta-program. What are they and when to use them? This talk will unveil all that 💃.

[2016-05-28 14:32] hieuk09 opened #97 "Meetup 08/2016 - @hieuk09 - Coercion method"
I'll talk about:
- The difference between methods like `to_a`, `to_ary` and `Array[]`
- When to use each methods

[2016-05-28 17:39] nhattan commented on #95
👍

[2016-06-27 06:09] tam-pham-alpha opened #98 "Meetup 06/2016 - Mittosiro - Frontend get started"
- Boilerplate gulp-starter để bắt đầu làm giao diện
- Viết css theo chuẩn BEM
- Tự động hóa với npm scripts (nodejs)

Mình nói trong 7 phút nhé

[2016-06-27 07:56] runlevel5 commented on #98
:+1:

[2016-06-27 09:18] qcam opened #99 "Meetup 06/2016 - Cẩm Huỳnh - Summary of Reddot Ruby Conference 2016"
I will be doing up a quick summary of talks I loved at Reddot Ruby Conf 2016 (RDRC2016), e.g Matz's keynote about Ruby Typing, Jason Yeo talking about how to write a LISP in Ruby, etc.

[2016-06-27 09:47] mymai91 commented on #98
+1

[2016-06-27 10:57] giangstrider commented on #98
:+1: 4

[2016-07-02 07:49] qcam commented on #99
Done

[2016-07-02 07:49] #99 closed, assigned to nobody

[2016-07-02 08:10] hieuk09 commented on #99
Do you have a slide for this talk? Could you share it here?

[2016-07-02 11:00] qcam commented on #99
Here you are https://speakerdeck.com/hqc/reddit-ruby-conf-2016-recap

[2016-07-02 11:56] #98 closed, assigned to nobody

[2016-07-12 08:12] lmduc opened #100 "Meetup ??/2016 - @lmduc - Find ruby methods' definitions"
I'll talk about:
- Some basic ways to find ruby methods' definitions in run time
- Advantages and disadvantages of those ways

[2016-07-12 08:13] runlevel5 commented on #100
👍

[2016-07-12 08:31] xjaokjng commented on #100
wow like like

[2016-07-12 08:38] phthhieu commented on #100
💯

[2016-07-26 04:21] khacanh opened #101 "Meetup 08/2016 - @khacanh - Tune your Rails application"
I will cover some basic steps to fine tune your app:
- Start with a good performance measuring tool
- Pinpoint the source of the performance issues
- Start with "low-hanging fruit" improvements
- It's rarely because of the Ruby code
- Some times it needs major system changes

Here is the link to the presentation:

https://docs.google.com/presentation/d/1DjQ6tF8T8AQhuaT_AOGO4wvCsqCZ_CZXhl81rYfXEsc/

[2016-07-26 04:32] tkhieu opened #102 "Meetup 08/2016 - @kimhieu - JWT basic and How to integrate it with Rails (Grape)"
Hi, folks
I would like to list  the outline of the talk
1. Talk about JWT, Some important points from `rfc7519`
2. Integrate it with Grape to validate current user and do mobile authentication.

https://docs.google.com/presentation/d/1vHo2woFh1cCAdHCpLpX2YeKg6QMDXYs-FUM0zqUiORM/

[2016-07-26 04:51] andyduong1920 commented on #100
:+1:

[2016-07-26 04:51] andyduong1920 commented on #102
:+1:

[2016-08-19 05:43] runlevel5 commented on #100
Speaker vì lí do đột xuất nên không về VN đc, nên xin khất lại lần sau

[2016-08-26 07:54] mymai91 commented on #94
+1

[2016-08-26 07:54] mymai91 commented on #101
👍

[2016-08-26 07:54] mymai91 commented on #102
👍

[2016-09-15 02:40] #102 closed, assigned to nobody

[2016-09-15 02:41] #101 closed, assigned to nobody

[2016-09-15 02:41] #96 closed, assigned to nobody

[2016-10-14 09:02] runlevel5 opened #103 "Meetup 10/2016 - Ruby Memory all you need to know @khailq"
**Topic:** How Ruby manages objects in memory
**Details:**
- Ruby heap
- Object retention
- Garbage collection

[2016-10-14 09:04] nhattan commented on #103
👍

[2016-10-24 03:42] khaiql commented on #103
@joneslee85 here is the updated details, please help me check.

**Topic**: How Ruby manages objects in memory
**Details**:
- Ruby heap
- Object retention
- Garbage collection

[2016-10-24 17:12] hoang1417 commented on #103
👍

[2016-10-25 05:36] runlevel5 opened #104 "Meetup 10/2016 - JS Promise the right way - @codeaholiguy"
- What is Promise?
- How to get rid of missing errors when handling promise?

[2016-10-25 06:07] dnson commented on #104
👍

[2016-10-25 06:08] runlevel5 commented on #104
👍

[2016-10-25 06:08] thieunv90 commented on #104
👍

[2016-10-25 06:10] huytd commented on #104
👍 👍

[2016-10-25 06:36] hoangnguyenvu commented on #104
👍

[2016-10-25 18:25] xjaokjng commented on #103
nice

2016-10-25 0:12 GMT+07:00 Hoang Le notifications@github.com:

##

---

_Best Regards!_

_Giang Hoang Nguyen01656131625Webdesigner - Marketer_

[2016-10-25 22:55] runlevel5 opened #105 "Meetup 10/2016 - Ruby Exceptions - @nhattan"
After this session, you would know what Ruby exception is and how to get the best out of it to make a better Ruby app.

[2016-10-25 23:59] runlevel5 commented on #105
👍

[2016-10-26 00:00] leo-le-07 commented on #105
👍

[2016-10-26 01:22] thieunv90 commented on #105
👍

[2016-10-26 02:19] dereknguyen269 commented on #105
👍

[2016-10-26 02:39] ghost commented on #104
👻👻

[2016-10-31 15:54] nhattan commented on #105
Thanks all for your thumbs up!
Here's my presentation: https://goo.gl/BPVM8k

[2016-12-13 17:39] khacanh opened #106 "Meetup 12/2016 - Build a web app with Rails, React and Redux - @khacanh"
Hi everyone, in this meetup I'll talk about rails + react + redux, it's actually more on the client-side.
Below is the proposed template, it is subject to change as the slides are updated.

### Server - client architecture
+ Separate responsibility
+ Separate domain of expertise
+ Scale independently
+ Rails 5 has the api-only option

### Why ReactJS
+ Learning curve
+ Community
+ Reuse for mobile

[2016-12-14 00:05] runlevel5 commented on #106
Wow, seems a bit full on, keen to see how mobile app is built 👍

[2016-12-14 02:13] khacanh commented on #106
Yeah, I'll just focus on the high-level stuff, and may trim down a bit

[2016-12-14 02:24] #103 closed, assigned to nobody

[2016-12-14 02:24] #104 closed, assigned to nobody

[2016-12-14 02:24] #105 closed, assigned to nobody

[2016-12-14 02:25] #12 closed

[2016-12-14 02:25] #13 closed

[2016-12-14 02:25] #14 closed

[2016-12-14 02:25] #15 closed

[2016-12-14 02:25] #16 closed

[2016-12-14 02:25] #18 closed

[2016-12-14 02:25] #19 closed

[2016-12-14 02:25] #35 closed

[2016-12-14 02:25] #36 closed

[2016-12-14 02:25] #37 closed

[2016-12-14 02:25] #40 closed

[2016-12-14 02:25] #79 closed

[2016-12-14 02:25] #81 closed

[2016-12-14 02:25] #84 closed

[2016-12-14 02:25] #90 closed, assigned to dieunb

[2016-12-14 02:25] #92 closed, assigned to nobody

[2016-12-14 02:25] #93 closed, assigned to nobody

[2016-12-14 02:25] #94 closed, assigned to nobody

[2016-12-14 02:25] #95 closed, assigned to nobody

[2016-12-14 02:25] #97 closed, assigned to nobody

[2016-12-14 02:25] #100 closed, assigned to nobody

[2016-12-14 04:11] tkhieu commented on #106
Eager to attend this topic.

[2016-12-15 06:31] tucq88 commented on #106
A lot of stuff, don't know how could you cover them all in one talk. Do we have livestream or video recording for this meetup ?

[2016-12-16 03:38] runlevel5 commented on #106
@tucq88 I would not do any livestream because it is not our priority atm. The exp would be so poor.

I agree it is a big task to cover everything, I would not expect this would happen within 15'. It is more likely 30' talk

[2016-12-16 06:03] revskill10 commented on #106
Just be concise and you can cover these things. (Make at least assumption on audience as possible)

[2017-04-18 03:35] #106 closed, assigned to nobody

[2017-04-18 04:25] runlevel5 opened #107 "Meetup 4/2017 - Overview / Intro to CoderSchool's Ruby/Rails curriculum - Harley Trung"
Harley Trung is teacher/developer/co-founder of [CoderSchool](https://www.facebook.com/coderschoolvn/).

The school provides one of many quality Ruby courses in Vietnam and has slowly gain reputation in powering students who have no knowledge of Ruby/Rails to be proficient in the language / framework. Many grads are now joining the industry.

So if you are interested in learning Ruby/Rails, come o

[2017-04-18 07:19] tucq88 commented on #107
Một trong những khoá học thực tế, hiếm hoi và chất lượng nhất cho dev ở Vietnam lúc này.

[2017-04-18 10:28] giangbimin commented on #107
awesome!

[2017-04-19 01:52] sirius248 opened #108 "Meetup 4/2017 - Extend Rails app with Sinatra - @kimquy"
Abstract: In this talk, I will walk you through a simple ruby gem which built with Sinatra. And it can be easily embedded inside any Rails app. Then I will walk you through the internal of Ruby on Rails source code to show you how everything actually connect and work the way it's. By understanding more how any Rails application work under the hood. In the end, there will be a short demo.

[2017-04-19 02:05] runlevel5 commented on #108
Một chút survey mọi người, chủ để này thực sự khá là hay và có thể đào sâu. Mình muốn bài nói đc dẫn dắt theo hướng mở để mọi người có cơ hội tham gia đặt câu hỏi hoặc trả lời. Mình muốn hỏi rằng ở chủ để trên thì mọi người quan tâm mảng nào nhất?

Riêng mình thì mình quan tâm về phần tích hợp gem này với một app có sẵn, thực sự có nhiều cách vd rails engine vs rack mount, nhược và lợi của mỗi các

[2017-04-19 02:14] nctruong commented on #108
Thanks for sharing with us. That's pretty enough for a presentation. However, according @joneslee85 we can dig deeply into the matter. How about using command line for a gem? is it like the rails task?

[2017-04-19 05:48] runlevel5 commented on #108
@nctruong the topic would be about building a gem with Sinatra; it is not necessary for rails. Thus it opens for discussion how one gem could be integrated into rails or rack-based app.

I don't think the presenter want to talk about a simple CLI gem or a rake tasks for an existing rails app. If time allows, I think he could cover how to integrate a gem with rails. I leave it to him.

[2017-04-19 08:24] PrimeTimeTran commented on #107
Looking forward to seeing it~!

[2017-04-19 09:09] kiendt07 commented on #107
Best thing that happened in my college life. Also Harley is the best teacher, ever!

[2017-05-04 03:39] #108 closed, assigned to nobody

[2017-05-10 07:16] runlevel5 opened #109 "Meetup 6/2017 - Difficulties working for project that works outsource team - @duykhoa"
Làm việc tại cty với mô hình phải tương tác với team outsource ở ngoài có những lợi và nhược. Anh Khoa sẽ chia sẻ những kinh nghiệm anh va chạm khi phải làm việc trong một dự án như thế này, đưa ra một số cách thức anh giúp cho công việc trở nên hiệu quả hơn.

- Thông tin chi tiết sẽ đc cập nhật thêm

[2017-05-10 07:17] #107 closed, assigned to nobody

[2017-05-23 12:06] thuanpt commented on #107
HN ko có! tiếc quá

[2017-10-04 07:51] runlevel5 opened #110 "Meetup 10/2017 - Our Experience Performance Optimizing A Multi-tenant Rails/PostgreSQL App - Dinh Khac Thanh"
* Title: Our Experience Performance Optimizing A Multi-tenant Rails/PostgreSQL App

* Blurb:
In this talk, I'll share some experience of optimizing the performance our multi-tenant B2B webapp, particularly on how simple tuning of PostgreSQL can go a long way.

I'll also talk about the unique design of our platform, particularly our multi-tenant job queue platform, and how we implemented it using t

[2017-10-04 07:51] #109 closed, assigned to nobody